.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
}
.heading {
  font-family: 'Noto Serif Display', cursive;
  font-size: 2.5rem;
  color:cadetblue;
  letter-spacing: 12px;
  font-style:oblique;
  text-shadow:
   2px 4px 1px rgb(0,0,0);
  transition: 0.3s ease;
}
.heading:hover {
  transform: scale(1.03);
}
.search {
  height:3rem;
  display:flex;
  
  background-color: aliceblue;
  border-radius: 999px;
  width:80%;
  padding-left: 20px;
  font-size:15px;
  color: rgba(126, 36, 36, 0.5);
  font-style:italic;
}
.search input {
  background-color: rgba(0,0,0,0);
  border: none;
  outline: none;
  padding-right: 1rem;
  flex: 1;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.search img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.card {
  break-inside: avoid;
  margin-bottom: 1rem;
  border-radius: 12px;
  overflow:hidden;
  transition: 0.3s ease;
  cursor:pointer;
}
.card img{
  width: 100%;
  border-radius: 12px;
}
.card:hover {
  transform: scale(1.03);
}
.container {
  column-count: 4;
  column-gap: 1rem;
  width:90%;
  margin-top: 3rem;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to {opacity: 1; }
}

.modal img{
  max-width: 100%;
  max-height:100%;
  object-fit: contain;
  animation: zoomIn 0.25s ease forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  width: 420px;
  max-width: 90vw;
  background: #9d2e2e;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: zoomIn 0.25s ease;
}

.modal-image {
  width: 100%;
  aspect-ratio: 4 / 5;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-info {
  padding: 12px 14px;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #1a050546;
}